* {
    margin: 0;
    padding: 0;
    font-family:  Lucida sans;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.8em;
}

p{
    font-size: 1.2em;
}

.tihe{
    background-color:#CEE741 ;
    padding: 4vh; 
}

.nav{
display: flex;
  justify-content: space-around;
background:#8FD14F; ;  
  padding: 2vh;
 
}

.nav a {
    text-decoration: none;
    color: black;
  text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
}  

.nav a:hover {
    opacity: 1;
    transition: 5ms;
    box-shadow: 0px 0px 15px white; /* Alterar a cor*/
}


.section{
    display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 6vh;
padding-top: 6vh;
}

.texto{
    width: 35vw;
    font-size: 1.2em;
    padding: 2em;   
}

.textos{
    border-radius: 6em;
    border: solid 0.1em;   
}

.img{
    width: 29%;
    height: 29%;
    display: flex;
   filter:  drop-shadow(0px 0px 19px #0a5a34);
}

.titulotex{
    padding-top: 1vh;

}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8FD14F;
    padding: 1.5em;
    justify-content: space-around;
}

.footer img {
    width: 12vw;
    height: 25vh;
}

.footer h3 {
    padding-bottom: 1em;
    text-align: center;
}

.footer p {
    font-size: 1em;
}


@media screen and (max-width: 768px) {

    .img{
        width: 55%;
        height: 55%; 
        padding-bottom: 4Vh;

    }

.section{
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    
}

.texto{
    width: 65vw;
    font-size: 1.2em;
}

.footer p {
    font-size: 1.2em;
}

.footer img {
    width: 17vw;
    height: 24vh;
}


}

@media screen and (max-width: 634px) {

    .texto {
        padding: 5vh;

    }
 .titulotex{
    padding-bottom: 1.4vh;
    
 }

    .footer img {
        width: 31vw;
        height: 18vh;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        background-color: #8FD14F;
        padding: 2em;
       
    }


}

